.return-link {
    background-color: rgb(250, 246, 246);
    display: block;
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: black;
    transition: all 250ms linear;
}

.return-link:hover,
.return-link:focus {
    color: rgb(133, 186, 243);
}


section {
    height: 100vh;
    background-color: rgb(250, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 408px;
    padding: 24px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    height: 40px;
    margin-bottom: 10px;
}

textarea {
    max-height: 80px;
    margin-bottom: 10px
}

button {
    display: flex;
    background-color: #4E75FF;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    width: 86px;
    max-height: 40px;
    cursor: pointer;
}

button:active,
button:hover,
button:focus {
    background-color: #6C8CFF;
}